fastapi
uvicorn[standard]
pydantic-settings
twilio
requests
python-dotenv
spacy
tensorflow
keras
numpy
google-generativeai
Pillow
python-multipart
gunicorn
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz